.container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.board {
  list-style: none;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  background-color: #2222224e;
  border-radius: 16px;
}

.board li {
  display: flex;
  align-items: center;
  gap: 24px;
  border: 2px solid #a2a2a2;
  border-radius: 16px;
  background-color: #ffffffdf;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.board li:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.board img {
  border-radius: 12px;
  object-fit: cover;
  width: 300px;
  height: 200px;
}

.board a {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.textContainer h3 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.textContainer p {
  margin: 0;
  font-size: 1rem;
}

.noPosts {
  padding: 1.5rem;
  margin: 2rem auto;
  max-width: 400px;
  background-color: #ffffff;
  color: #9b9a9a;
  border: 1px solid #bfbfbf; 
  border-radius: 8px;
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-weight: 600;
}

@media (max-width: 600px) {
  .board li {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .board a {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .board img {
    width: 60%;
    height: auto;
  }

  .textContainer {
    align-items: center;
  }

  .textContainer h3 {
    font-size: 1.2rem;
  }

  .textContainer p {
    font-size: 0.9rem;
  }
}
