:root {
  --max-width: 1100px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #464646;
  font-size: 16px;
  font-family: 'Noto Serif JP', serif;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/images/next.js課題背景画像.png");
}
a {
  color: inherit;
  text-decoration: none;
}

