h2.fukidashi {
  position: relative;
  padding: 8px 16px;
  outline: 1px solid #333;
  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  max-width: 500px;
  text-align: center; 
  margin: 24px;
  margin-inline: auto;
}

.fukidashi::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 98%;
  height: 82%;
  background: #ffffff;
  z-index: -999;
}

.fukidashi::after {
  content: "";
  position: absolute;
  bottom:-6px;
  right: -6px;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  width: 98%;
  height: 98%;
}

@media (max-width: 800px) {
  .title {
    margin: 40px 50px;
  }
}