.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0 10px 80px;
  gap: 200px;
}

.fukidashi {
    padding: 1em 1em 0.7em 1.5em;
    position: relative;
    z-index: 0;
}

.fukidashi::before,
.fukidashi::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.fukidashi::before {
    left: 8px;
    top: 8px;
    background: #97b49bbb;
    z-index: -2;
}

.fukidashi::after {
    left: 0;
    top: 0;
    border: 2px solid #333;
    z-index: -1;
}

@media (max-width: 800px) {
  .title {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin: 40px 0 5px 0;
  }
}