.h1title {
  position: relative;
  padding: 8px;
  border-top: solid 1px #333;
  border-bottom: solid 1px #333;
  font-family: 'Noto Serif JP', serif;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #333;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  max-width: 400px;
  text-align: center; 
  margin: 50px;
  margin-inline: auto;
}

.h1title::before, .h1title::after {
  content: '';
  position: absolute;
  top: -8px;
  width: 1px;
  height: calc(100% + 16px);
  background: #333;
}

.h1title::before {
  left: 8px;
}

.h1title::after {
  right: 8px;
}