.fukidashi {
  position: relative;
  display: block;
  padding: 8px 32px;
  border: solid 1px #333;
  transform: skewX(-25deg);
  margin: 48px;
  margin-inline: auto;
  width: fit-content;
}

.fukidashi::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 30%;
    height: 28px;
    width: 28px;
    border-right: 1px solid #333;
    transform: rotate(40deg);
}