/* タイトル */
.title {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 0.6em;
  border-bottom: 6px dotted #a9a9a9;
  margin: 20px auto 30px;
  max-width: 800px;
}

/* 全体のブロック */
.datecontent {
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* 画像を制御するコンテナ */
.imageContainer {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* 画像のスタイル */
.detailImage {
  object-fit: cover;
}

.textContainer {
  line-height: 1.8;
  margin: 0 auto;
}


@media (max-width: 600px) {
  .title {
    font-size: 1.6rem;
  }

  .datecontent {
    padding: 0 10px;
  }

  .detailImage {
  width: 100%;
  height: auto;
}
}