.container {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.board {
  list-style: none;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff6a;
  border-radius: 16px;
}