.form {
  width: 250px;
  margin: 0 auto; 
  font-size: 15px;
}

.search {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px;
  border: 1px solid #666666;
  border-radius: 5px;
}

.search:focus-within {
  border-color: #686868;
}

.searchInput {
  display: block;
  box-sizing: border-box;
  padding: 0;
  width: 100%;
  appearance: none;
  /* -webkit-tap-highlight-color: transparent; */
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}